{% extends "layout.html" %}{% block container %}
<div class="flex justify-end max-w-max">
  <a
    href="/alumnos"
    class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
  >
    Nuevo
  </a>
</div>
<br />
<div
  class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default"
>
  <div class="p-4 flex items-center justify-between space-x-4">
    <label for="input-group-1" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-body"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="input-group-1"
        class="block w-full max-w-96 ps-9 pe-3 py-2 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
        placeholder="Search"
      />
    </div>
    <button
      id="dropdownDefaultButton"
      data-dropdown-toggle="dropdown"
      class="shrink-0 inline-flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none"
      type="button"
    >
      <svg
        class="w-4 h-4 me-1.5 -ms-0.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="M18.796 4H5.204a1 1 0 0 0-.753 1.659l5.302 6.058a1 1 0 0 1 .247.659v4.874a.5.5 0 0 0 .2.4l3 2.25a.5.5 0 0 0 .8-.4v-7.124a1 1 0 0 1 .247-.659l5.302-6.059c.566-.646.106-1.658-.753-1.658Z"
        />
      </svg>
      Filtrar Por:
      <svg
        class="w-4 h-4 ms-1.5 -me-0.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 9-7 7-7-7"
        />
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdown"
      class="z-10 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-32"
    >
      <ul
        class="p-2 text-sm text-body font-medium"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="#"
            class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
            >Nombre</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
            >A Paterno</a
          >
        </li>
        <li>
          <a
            href="#"
            class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
            >Email</a
          >
        </li>
      </ul>
    </div>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead
      class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium text-center"
    >
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input
              id="table-checkbox-20"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
            />
            <label for="table-checkbox-20" class="sr-only"
              >Table checkbox</label
            >
          </div>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">Nombre</th>
        <th scope="col" class="px-6 py-3 font-medium">A Paterno</th>
        <th scope="col" class="px-6 py-3 font-medium">Email</th>
        <th scope="col" class="px-6 py-3 font-medium">Action</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for al in alumno %}
      <tr
        class="bg-neutral-primary-soft hover:bg-neutral-secondary-medium items-center"
      >
        <td class="w-4 p-4">
          <div class="flex items-center">
            <input
              id="table-checkbox-26"
              type="checkbox"
              value=""
              class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
            />
            <label for="table-checkbox-26" class="sr-only"
              >Table checkbox</label
            >
          </div>
        </td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-heading whitespace-nowrap"
        >
          {{al.nombre}}
        </th>
        <td class="px-6 py-4">{{al.apaterno}}</td>
        <td class="px-6 py-4">{{al.email}}</td>
        <td class="px-6 py-4 justify-evenly">
          <a href="modificar?id={{al.id}}" class="font-medium text-fg-yellow hover:underline"
            >Editar</a
          >
          <a href="detalles?id={{al.id}}" class="font-medium text-fg-success hover:underline"
            >Detalles</a
          >
          <a href="#" class="font-medium text-red-700 hover:underline"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
