{% extends "layout.html" %} {% block container %}
<form class="max-w-sm mx-auto" action="#" method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <div class="mb-5">
    <label for="matricula" class="block mb-2.5 text-sm font-medium text-heading">id</label>
    <input type="number" id="matricula" name="matricula" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow placeholder:text-body" placeholder="" value="{{form.matricula.data}}" readonly/>
  </div>
  <div class="mb-5">
    <label for="nombre" class="block mb-2.5 text-sm font-medium text-heading">Nombre</label>
    <input type="text" id="nombre" name="nombre" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow placeholder:text-body" placeholder="" value="{{ form.nombre.data }}" required />
  </div>
  <div class="mb-5">
    <label for="apellidos" class="block mb-2.5 text-sm font-medium text-heading">Apellidos</label>
    <input type="text" id="apellidos" name="apellidos" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow placeholder:text-body" placeholder="" value="{{ form.apellidos.data }}" required />
  </div>
  <div class="mb-5">
    <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email</label>
    <input type="email" id="email" name="email" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow placeholder:text-body" placeholder="" value="{{ form.email.data }}" required />
  </div>
  <div class="mb-5">
    <label for="especialidad" class="block mb-2.5 text-sm font-medium text-heading">especialidad</label>
    <input type="text" id="especialidad" name="especialidad" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow placeholder:text-body" placeholder="" value="{{ form.especialidad.data }}" required />
  </div>
  <button type="submit" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Guardar</button>
  <a href="/maestros" class="text-white bg-red-700 box-border border border-transparent hover:bg-red-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Cancelar</a>
</form>
{% endblock %}
